<section rounded overflow-hidden bg-gray-100 p-2 h-full hover:shadow-x>
  <img
    aspect="3/2" object-cover
    [src]="`${housingLocation.photo}`"
    alt="Exterior photo of {{ housingLocation.name }}"
  />
  <h2 text-xl font-bold line-height-tight my-2>{{ housingLocation.name }}</h2>
  <p c-gray-500>{{ housingLocation.city }}, {{ housingLocation.state }}</p>
  <p text-right>
    <a border="b-dashed b-1 gray-300" c-gray-500 [routerLink]="['/details', housingLocation.id]">Learn More</a>
  </p>
</section>
