<article>
  <img
    class="listing-photo"
    [src]="`${housingLocation?.photo}`"
    alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin
  />
  <section class="listing-description">
    <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
    <p class="listing-location">{{ housingLocation?.city }}, {{ housingLocation?.state }}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ housingLocation?.availableUnits }}</li>
      <li>Does this location have wifi: {{ housingLocation?.wifi }}</li>
      <li>Does this location have laundry: {{ housingLocation?.laundry }}</li>
    </ul>
  </section>
  <section class="p-5">
    <h2 class="text-xl font-bold mb-5">Apply now to live here</h2>
    <form class="flex flex-col gap-5" [formGroup]="applyForm" (submit)="submitApplication()">
      <div>
        <label class="block" for="first-name">First Name</label>
        <input class="border-1 rounded p-2" id="first-name" type="text" formControlName="firstName" />
      </div>
      <div>
        <label class="block" for="last-name">Last Name</label>
        <input class="border-1 rounded p-2" id="last-name" type="text" formControlName="lastName" />
      </div>
      <div>
        <label class="block" for="email">Email</label>
        <input class="border-1 rounded p-2" id="email" type="email" formControlName="email" />
      </div>
      <div>
        <button class="c-white inline-block bg-blue-500 py-2 px-5 rounded cursor-pointer" type="submit">Apply now</button>
      </div>
    </form>
  </section>
</article>
